{% extends "base.html" %}
{% block title %} Serviços {% endblock %}
{% block content %}

<!-- SERVIÇO -->
<section class="services" id="services">
  <div class="container">

    <div class="main-txt">
      <h1><span>S</span>erviçoes</h1>
    </div>

    <div class="row" style="margin-top: 30px;">

      <div class="col-md-4 py-3 py-md-0">

        <div class="card">
          <i class="fas fa-hotel"></i>
          <div class="card-body">
            <h3>Hotel Econômico</h3>
            <p>Oferecemos hospedagem acessível em locais de qualidade, para garantir uma estadia confortável durante
              suas viagens.</p>
          </div>
        </div>

      </div>
      <div class="col-md-4 py-3 py-md-0">

        <div class="card">
          <i class="fas fa-utensils"></i>
          <div class="card-body">
            <h3>Comidas & Bebidas</h3>
            <p>Descubra uma variedade de opções gastronômicas deliciosas, garantindo que sua experiência culinária seja
              tão memorável quanto sua jornada.</p>
          </div>
        </div>

      </div>
      <div class="col-md-4 py-3 py-md-0">

        <div class="card">
          <i class="fas fa-bullhorn"></i>
          <div class="card-body">
            <h3>Guia de Segurança</h3>
            <p>Priorizamos sua segurança em todas as etapas da viagem, fornecendo orientações e suporte para garantir
              tranquilidade durante sua aventura.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <i class="fas fa-globe-asia"></i>
          <div class="card-body">
            <h3>Ao Redor do Mundo</h3>
            <p>Explore os destinos mais deslumbrantes e fascinantes ao redor do globo, com pacotes e roteiros
              personalizados para atender às suas preferências de viagem.</p>
          </div>
        </div>

      </div>
      <div class="col-md-4 py-3 py-md-0">

        <div class="card">
          <i class="fas fa-plane"></i>
          <div class="card-body">
            <h3>Viagens Rápidas</h3>
            <p>Oferecemos opções de viagem eficientes e rápidas, para que você possa aproveitar ao máximo o seu tempo
              explorando novos horizontes.</p>
          </div>
        </div>

      </div>
      <div class="col-md-4 py-3 py-md-0">

        <div class="card">
          <i class="fas fa-hiking"></i>
          <div class="card-body">
            <h3>Aventuras</h3>
            <p>Viva experiências emocionantes e inesquecíveis, com pacotes de aventura cuidadosamente planejados para os
              viajantes mais intrépidos.</p>
          </div>
        </div>

      </div>



    </div>

  </div>
</section>
<!-- SERVICOS FIM -->

<!-- CARDS VIAGEM FIM -->
<section class="packages" id="packages">
  <div class="container">

    <div class="main-txt">
      <h1><span>V</span>iagens</h1>
    </div>

    <div class="row" style="margin-top: 30px;">

      <div class="col-md-4 py-3 py-md-0">

        <div class="card">
          <img src="../static/images/toronto.jpg" alt="">
          <div class="card-body">
            <h3>Toronto</h3>
            <p> Capital da província de Ontário, é uma grande cidade canadense localizada ao longo da costa noroeste do Lago Ontário</p>
            <div class="star">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star "></i>
            </div>
            <h6>Preço: <strong>$</strong></h6>
          </div>
        </div>

      </div>
      <div class="col-md-4 py-3 py-md-0">

        <div class="card">
          <img src="../static/images/ottawa.webp" alt="">
          <div class="card-body">
            <h3>Ottawa</h3>
            <p>Capital do Canadá, localizada na província de Ontário (sudeste do país), perto da cidade de Montreal e da fronteira com os Estados Unidos</p>
            <div class="star">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star "></i>
              <i class="fa-solid fa-star "></i>
            </div>
            <h6>Preço: <strong>$500</strong></h6>
          </div>
        </div>
</section>
<!-- CARDS VIAGEM FIM -->


{% endblock %}