{% extends "base.html" %}
{% block title %} Serviços {% endblock %}
{% block content %}
    
    <!-- CONTATOS-->
    <section class="book" id="book">
      <div class="container">

        <div class="main-text">
          <h1><span>V</span>iagens</h1>
        </div>
        
        <div class="row">

          <div class="col-md-6 py-3 py-md-0">
            <div class="card">
              <img src="../static/images/band.webp" alt="">
            </div>
          </div>

          <div class="col-md-6 py-3 py-md-0">
            <form action="/add" method="POST">
              <input type="text" class="form-control" placeholder="Ir de" name="ir_de"><br>
              <input type="text" class="form-control" placeholder="Para" name="ir_para"><br>
              <input type="date" class="form-control" placeholder="Data ida" name="data_ida"><br>
              <input type="date" class="form-control" placeholder="Data volta" name="data_volta"><br>
              <input type='textarea' class="form-control" placeholder="Escreva mais detalhes..." name="descrição"></input>
              <button type="submit" value="Enviar" class="submit" required>Enviar</button>
            </form>
          </div>

        </div>

        <div class="main-txt">
          <h1><span>R</span>oteiros</h1>
        </div>
          {% for contato in contato %}
          <li class="roteiro"> De: {{contato[1]}} <br> Para: {{contato[2]}} <br> Data ida: {{contato[3]}} <br> Data volta: {{contato[4]}} <br> Descrição: {{contato[5]}} </li>
        {% endfor %}
      </div>
    </section>
    <!-- CONTATOS FIM -->

    {% endblock %}








    







    








  








   
