{% extends "base.html" %}
{% block title %} Início {% endblock %}
{% block content %}

<!-- HERO SECTION-->
<div class="home">
  <div class="content">
    <h5>Descubra o Mundo com MB Viagens</h5>
    <h1>Conheça <span>o desconhecido</span></h1>
    <p>Planeje sua próxima aventura conosco e deixe-nos transformar seus sonhos em realidade. </p>
    <a href="#about">Saiba mais</a>
  </div>
</div>
<!-- HERO SECTION FIM -->

<!-- SOBRE -->
<section class="about" id="about">
  <div class="container">

    <div class="main-txt">
      <h1>Sobre <span>nós</span></h1>
    </div>

    <div class="row" style="margin-top: 50px;">

      <div class="col-md-6 py-3 py-md-0">
        <div class="card">
          <img src="../static/images/index1.jpg" alt="">
        </div>
      </div>

      <div class="col-md-6 py-3 py-md-0">
        <h2>A Sua Passagem Para o Mundo</h2>
        <p>Somos mais do que uma agência de viagens; somos seus parceiros na busca por experiências extraordinárias ao redor do mundo. Desde o nosso início, buscamos não apenas oferecer destinos, mas sim criar momentos inesquecíveis para os nossos clientes. </p>
        <p>Nossa equipe é composta por apaixonados por viagens, conhecedores dos melhores destinos e especialistas em criar roteiros personalizados que atendam aos desejos e expectativas de cada viajante.</p>
        <p>Com um compromisso inabalável com a excelência e um serviço dedicado, estamos aqui para simplificar o processo de planejamento de viagens, proporcionando momentos de felicidade e descoberta a cada jornada. </p>
        </div>

    </div>

  </div>
</section>
<!-- SOBRE FIM -->

<!-- IMAGENS -->
<section class="gallary" id="gallary">
  <div class="container">

    <div class="main-txt">
      <h1><span>F</span>otos</h1>
    </div>

    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="../static/images/ii1.jpg" alt="" height="230px">
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="../static/images/ii2.jpg" alt="" height="230px">
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="../static/images/ii3.jpeg" alt="" height="230px">
        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 30px;">
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="../static/images/ii4.jpg" alt="" height="230px">
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="../static/images/ii5.webp" alt="" height="230px">
        </div>
      </div>
      <div class="col-md-4 py-3 py-md-0">
        <div class="card">
          <img src="../static/images/ii6.jpg" alt="" height="230px">
        </div>
      </div>
    </div>

  </div>
</section>
<!-- IMAGENS FIM -->

{% endblock %}